<div style="text-align: center ;font-size: 18px;padding: 1px;" >
<h2>Product Details</h2> 

<hr/>
<div *ngIf="products">
  <div>
    <label><b>ID: </b></label> {{products.id}}
  </div>
  <div>
    <label><b>Name: </b></label> {{products.name}}
  </div>
  <div>
    <label><b>Description: </b></label> {{products.description}}
    <div>
        <label><b>Price: </b></label> {{products.price}}
      </div>
  </div>  
</div>

<br>
<br>
<button type="button" class="btn btn-primary"(click)="gotolist()" >Back</button>

</div>





