<div class="container">
    <h2>update Product</h2>
    <form #adduserform="ngForm"(ngSubmit)="updateProductformsubmit()">
    
        <div class="form-group">
            <label for="id">id:</label>
             <input type="text" class="form-control" required [(ngModel)]="products.id" name="id" disabled>
        </div>
    
        <div class="form-group">
            <label for="name">Name:</label>
             <input type="text" class="form-control" required [(ngModel)]="products.name" name="name">
        </div>
    
        <div class="form-group">
            <label for="description">description:</label>
             <input type="text" class="form-control" required [(ngModel)]="products.description" name="description">
        </div>
    
        <div class="form-group">
            <label for="price">Price:</label>
             <input type="text" class="form-control" required [(ngModel)]="products.price" name="price">
        </div>
       
        <button type="submit" class="btn btn-success">Update</button>&nbsp;&nbsp;
        <button type="button" class="btn btn-primary"(click)="gotolist()" >Back</button>
       
    
    </form>
    </div>
    